__pycache__/
*.pyc

.vscode/settings.json

vector_db/
database/
NucleoAlchi/database/alchi_restaurante.db

Recursos/Vídeo_Demo_ConversacionBot.mp4
prueba_gemini.py
prueba_gemini2


# Secretos locales
private_secrets.py
TFG-Asistente(tokenLMStudio).txt
analisis_indice_tfg.md